In [1]:
import pandas as pd
import sqlalchemy

In [3]:
df = pd.read_csv('data/yellow_tripdata_2021-01.csv')

/var/folders/70/6qt3pskn57j8vcjtb1b20ybm0000gn/T/ipykernel_94856/4171137630.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/yellow_tripdata_2021-01.csv')

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [5]:
print(pd.io.sql.get_schema(df, name='data/data/data/yellow_taxi_data'))

CREATE TABLE "data/data/data/yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
print(pd.io.sql.get_schema(df, name='data/yellow_taxi_data'))

CREATE TABLE "data/yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name='data/yellow_taxi_data', con=engine))

CREATE TABLE "data/yellow_taxi_data" (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [13]:
df_iter

In [14]:
df = next(df_iter)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [16]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [ ]:
# df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
# df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [21]:
from time import time

In [19]:
time()

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 16.7 µs

()

In [22]:
while True:
    start_time = time()
 
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    end_time = time()

    print(f'inserted another chunk, took {end_time - start_time} seconds')

inserted another chunk, took 9.239007949829102 seconds
inserted another chunk, took 8.908909797668457 seconds
inserted another chunk, took 9.03687310218811 seconds
inserted another chunk, took 8.534421920776367 seconds
inserted another chunk, took 8.671420097351074 seconds
inserted another chunk, took 8.960880756378174 seconds
inserted another chunk, took 9.446669101715088 seconds
inserted another chunk, took 8.958414077758789 seconds
inserted another chunk, took 10.096802234649658 seconds
inserted another chunk, took 9.509241104125977 seconds
inserted another chunk, took 9.358184814453125 seconds

/var/folders/70/6qt3pskn57j8vcjtb1b20ybm0000gn/T/ipykernel_94856/1077784167.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 10.72995400428772 seconds
inserted another chunk, took 8.122969150543213 seconds

StopIteration:

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1300000,NaN,2021-01-05 10:38:40,2021-01-05 10:46:20,NaN,1.30,NaN,NaN,170,161,NaN,7.00,0.00,0.5,1.03,0.00,0.3,11.33,2.5
1300001,NaN,2021-01-05 10:17:14,2021-01-05 10:41:21,NaN,7.90,NaN,NaN,216,198,NaN,31.49,0.00,0.5,2.75,0.00,0.3,35.04,0.0
1300002,NaN,2021-01-05 10:39:00,2021-01-05 10:46:00,NaN,0.98,NaN,NaN,62,62,NaN,16.23,0.00,0.5,2.75,0.00,0.3,19.78,0.0
1300003,NaN,2021-01-05 10:05:00,2021-01-05 10:19:00,NaN,1.59,NaN,NaN,85,71,NaN,13.45,0.00,0.5,2.75,0.00,0.3,17.00,0.0
1300004,NaN,2021-01-05 10:18:08,2021-01-05 10:41:40,NaN,9.87,NaN,NaN,236,208,NaN,30.23,0.00,0.5,2.75,6.12,0.3,39.90,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.00,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.00,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.00,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.00,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.00,0.3,24.31,0.0